.investors {
    background: #fff;
    padding: 100px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin: 10px auto;
}


.swiper-slide {
    padding: 20px;
}

.swiper-slide svg:nth-child(1) {
    transform: rotate(180deg);
    margin-bottom: 30px;
}

.swiper-slide h1 {
    color: #005942;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 54px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.swiper-slide img {
    width: 319px;
    height: 207px;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.swiper-slide h2 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.swiper-slide p {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 350;
    line-height: 20px;
    /* 142.857% */
    text-transform: uppercase;
}
@media (max-width: 768px) {
    .investors{
        padding: 10px;
    }
    .swiper{
        height: auto;
    }
    .swiper-slide img{
        border-radius: 10px;
        margin: 10px auto;
    }
}